.header__nav {
    display: flex;
    overflow: hidden;
    background-color: #1a1a1a;
    /* Dark Gray */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header__logo {
    flex: 1;
    display: flex;
    position: relative;
    padding: 20px;
}

.header__logo-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: #4e74ab;
    /* Dark Blue */
    z-index: -1;
}

.header__logo h4 {
    padding-left: 30px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    color: #fff;
    opacity: 0.9;
    margin: 0;
}

.header__menu,
.header__menu-mobile {
    padding: 20px;
    flex: 1.236;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    list-style: none;
}

.header__menu li {
    font-weight: 500;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #f0f0f0;
    /* Light Gray */
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.header__menu li img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.header__menu-mobile {
    display: none;
    gap: 20px;
    position: relative;
}

.header__menu-mobile-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__menu-mobile-icon img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .header__menu {
        display: none;
    }
    .header__menu-mobile {
        display: flex;
    }
}